html, body {
  height: 100%;
}

.card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.game-canvas {
  width: 100%;
}

.keyboard-shortcut-help {
    margin: 4px 12px;
}

.keyboard-shortcut-help th {
    white-space: nowrap;
}

.keyboard-shortcut-help td, .keyboard-shortcut-help th {
    padding: 6px;
    vertical-align: middle;
}

.keyboard-shortcut-key {
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    padding: 4px 6px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(71,87,120,0.08);
    user-select: none;
    color: #4B4D51;
    background: #F7F7F7;
    border: 1px solid #C7CCD9;
}
